 <h1>Welcome to Retflix</h1>
<p>See our collection of movies below:</p>

<ul>
	<% @movies.each do |movie|  %>
		<li><%=link_to movie.name, "/movies/#{movie.id}" %></li>
	<%end%>
</ul>


<%= link_to 'Add Movie' , new_movie_path %>



